<body>

<img src="../../assets/download.png">

<!--<h1>Create<br>Custom<br>Login</h1-->

<div class="loginform">
  
    
      <p>Log in</p>
           
       <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Username/Email Address"><br><br>
 
       <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password"><br><br>

    <div class="loginbtn">
       <button type="submit"(click)="getData()">login</button>
    </div>

    <div class="checkbox">
       <input type="checkbox" class="box"><br><br>Remember Me Your password?
         
    
    </div>
    </div>

 
 </body> 
